# /etc/systemd/system/adhosts.service
# Copyright 2024 (c) Brady Etz, https://github.com/b-etz/systemd-adblock
# Runnable service to scrape and format ad hosting domains with adhosts.sh

[Unit]
Description=Update ad serving domains in /etc/hosts
After=network.target

[Service]
ExecStart=/usr/local/bin/adhosts.sh
Type=oneshot
