# /etc/systemd/system/adhosts.timer
# scheduling parameters for adhosts.service
# Copyright 2024 (c) Brady Etz, https://github.com/b-etz/systemd-adblock

[Unit]
Description=Update ad serving domains in /etc/hosts
After=network.target

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=2h

[Install]
WantedBy=timers.target

