# /etc/systemd/system/adhosts.service
# runnable service to collect current ad domains with adhosts.sh
# Copyright 2024 (c) Brady Etz, https://github.com/b-etz/systemd-adblock

[Unit]
Description=Update ad serving domains in /etc/hosts
After=network.target

[Service]
ExecStart=/usr/local/bin/adhosts.sh
Type=oneshot
